extends ../node_modules/jade-bootstrap/_bootstrap
append body
      .container
        h1= title
        h2= message
          ul
            each val in containers
              li
                a(href="/container/" + val.name)= val.name